@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (min-width: 320px) {
  html {
    font-size: 16px;
    background: darkblue;
  }
}

@media screen and (min-width: 375px) {
  html {
    font-size: 18px;
    background: yellow;
  }
}

@media screen and (min-width: 414px) {
  html {
    font-size: 20px;
    background: green;
  }
}

@media screen and (min-width: 480px) {
  html {
    font-size: 22px;
    background: red;
    display: flex;
    justify-content: center;
  }
  body{
     width: 375px;
    height: 100vh;
    background: grey;
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color-scheme: light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}